<div class='panel-body'>
  <%= form_for(@line) do |f| %>
    <div class='form-group'>
        <label class='control-label'>Machine Number</label>
        <% if params[:action] == "edit" || params[:action] == "update" %>
          <%= f.number_field :no, "data-rule-required"=>true, :Class=>"form-control", disabled: true, :min=>1, :max=>17 %>
        <% else %>
          <%= f.number_field :no, "data-rule-required"=>true, :Class=>"form-control", required: true, :min=>1, :max=>17 %>
        <% end %>
    </div>

    <div class='form-group'>
        <label class='control-label'>Machine Name <font color=red>(allow A-Z,a-z,1-9 with max 7 chacters)</font></label>
        <%= f.text_field :nama, "data-rule-required"=>true, :Class=>"form-control", :pattern=>"[A-Za-z0-9. ]{1,7}", required: true %>
    </div>

    <div class='form-group'>
        <label class='control-label'>Operator</label>
        <%= f.select :user_id, options_from_collection_for_select(User.where("role != ?","Admin").all, 'id', 'nama', :selected=>@line.user_id),{:include_blank => '-- Select One --'}, class: 'form-control' %>
    </div>

    <hr>

    <div class='form-actions pull-right' style='margin-bottom:0'>
      <%= link_to lines_path, style: "margin-right: 15px;" do %> Cancel <% end %>
      <%= f.submit  class: 'btn btn-success', data: { disable_with: "Please wait..." } %>
    </div>

  <% end %>
</div>

<script>
$("#line_user_id").select2();
</script>
