<div class="panel panel-default">
	<div class="panel-heading">
    <h3 class="panel-title">Line List</h3>
  </div>
  <div class="panel-body">
  	<div class="form-group">
	  	<%= link_to new_line_path, class: "btn btn-primary" do %><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Line <% end %>
	  </div>
		<table class="table table-stripped table-bordered">
			<thead>
				<th>Nama Mesin</th>
				<th>No Line</th>
				<th>Operator</th>
				<th>Slide Duration</th>
				<th>Status</th>
				<th width="5%">Show</th>
				<th>Action</th>
			</thead>
			<tbody>
				<% @lines.order('no asc').each_with_index do |line, index| %>
					<tr>
						<td><%= line.nama %></td>
						<td><%= line.no %></td>
						<td><%= line.user == nil ? "-" : line.user.nama %></td>
						<td><%= line.slide_duration %> second</td>
						<td><%= line.status == true ? "Normal" : "<font color=red>Problem</font>".html_safe %></td>
						<td>
							<% if line.visible == true %>
								<input type="checkbox" name="show_<%= index.to_s %>" id="<%= line.no.to_s %>" data-size="mini" checked >
							<% else %>
								<input type="checkbox" name="show_<%= index.to_s %>" id="<%= line.no.to_s %>" data-size="mini" >
							<% end %>
						</td>
						<td>
							<%= link_to "Update", edit_line_path(line), :method=>"GET",:class=>"btn btn-xs btn-default" %>
							<%= link_to "Delete", line_path(line), :method=>"DELETE","data-disable-with"=> "Wait..", "data-confirm"=>"delete this line ?", :class=>
						"btn btn-xs btn-danger" %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
  </div>
</div>

<script>
$("[name^='show']").bootstrapSwitch();

$('input[name^="show"]').on('switchChange.bootstrapSwitch', function(event, state) {
  line_no = this.id
  $.get("/lines", {visible: state, line_no: line_no}, null, "script");
});


</script>