<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Sending Email Report Daily</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <%= link_to new_emailsetting_path, class: "btn btn-primary" do %><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Email Setting <% end %>
    </div>
    <table class="table table-stripped table-bordered" id="sortable">
      <thead>
        <th>Day</th>
        <th>Time</th>
        <th>Action</th>
      </thead>
      <tbody>
        <% @emailsettings.each_with_index do |email,index| %>
          <tr>
          <td><%= email.day %></td>
          <td><%= email.email_time %></td>
          <td>
            <%= link_to "Update", edit_emailsetting_path(email), :class=>"btn btn-xs btn-warning" %>
            <%= link_to "Delete", emailsetting_path(email), :method=>"DELETE", :class=>"btn btn-xs btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>


</script>