
<div class='panel-body'>
    <%= form_for(@language) do |f| %>
        
        <div class='form-group'>
            <label class='control-label'>Message</label>
            <%= f.text_field :message, :class=>"form-control", disabled: true %>
        </div>

        <div class='form-group'>
            <label class='control-label'>Description</label>
            <%= f.text_field :description, :class=>"form-control", disabled: true %>
        </div>

        <div class='form-group'>
            <label class='control-label'>Translation Language</label>
            <%= f.text_area :foreign_language, :class=>"wysihtml5",:style=>"width:100%", required: true %>
        </div>
        

        <hr>

        <div class='form-actions pull-right' style='margin-bottom:0'>
        <%= link_to languages_path, style: "margin-right: 15px;" do %> Cancel <% end %>
        <%= f.submit  class: 'btn btn-success', data: { disable_with: "Please wait..." } %>
        </div>
    <% end %>
</div>

<script>
  $(".wysihtml5").wysihtml5({'toolbar': {'image': false,'link': false}});
</script>