<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @language.message %>
</p>

<p>
  <strong>Foreign language:</strong>
  <%= @language.foreign_language %>
</p>

<%= link_to 'Edit', edit_language_path(@language) %> |
<%= link_to 'Back', languages_path %>
