<div class='panel-body'>
    <%= form_for(@user) do |f| %>
        <% if params[:action] == "new" or params[:action] == "create" or (params[:reset_password] != "true" and (params[:action] == "new" or params[:action] == "create" )) %>
            <div class='form-group'>
                <label class='control-label'>Email</label>
                <%= f.email_field :email, :Class=>"form-control", required: true %>
            </div>
        <% elsif (params[:reset_password] != "true" and (params[:action] == "new" or params[:action] == "create") ) %>
            <div class='form-group'>
                <label class='control-label'>Email</label>
                <%= f.email_field :email, :Class=>"form-control", required: true, :disabled=>true %>
            </div>
        <% else %>
            <div class='form-group'>
                <label class='control-label'>Email</label>
                <%= f.email_field :email, :Class=>"form-control", required: true, :disabled=>true %>
            </div>
        <% end %>
        <% if params[:action] == "new" or params[:action] == "create" or ( params[:reset_password] == "true" and (params[:action] == "edit" or params[:action] == "update" ) ) %>
            <div class='form-group'>
                <label class='control-label'>Passowrd</label>
                <font size=2s color=red>minimal 8 karakter</font>
                <%= f.password_field :password, :Class=>"form-control", required: true %>
                <%= hidden_field_tag :status, "reset" %>
            </div>
        <% end %>

        <% if params[:reset_password] == "true" and (params[:action] == "edit" or params[:action] == "update" ) %>
        <% else %>
            <div class='form-group'>
                <label class='control-label'>Nama</label>
                <%= f.text_field :nama, :Class=>"form-control", required: true %>
            </div>

            <div class='form-group'>
                <label class='control-label'>Alamat</label>
                <%= f.text_field :alamat, :Class=>"form-control", required: true %>
            </div>

            <div class='form-group'>
                <label class='control-label'>Telp</label>
                <%= f.text_field :telp, :Class=>"form-control", required: true %>
            </div>
        <% end %>
        
        
        <div class='form-actions' style='margin-bottom:0'>
            <button class='btn btn-primary' type='submit' data-disable-with= "Wait..">
                <i class='icon-save'></i>
                Save
            </button>
        </div>
    <% end %>
</div>

<script>
$("#line_user_id").select2();
</script>

<% if params[:reset_password] == "true" and (params[:action] == "edit" or params[:action] == "update" ) %>
    <script>
    $("#status").attr("disabled",false);
    </script>
<% else %>
    <script>
    $("#status").attr("disabled",true);
    </script>
<% end %>
