
	<div class="col-md-4 big_icon">
		<%= link_to homes_path, class: "btn btn-default btn-block" do %><span class="glyphicon glyphicon-home" aria-hidden="true"></span>  Home <% end %>
	</div>
	<div class="col-md-4 big_icon">
		<%= link_to users_path, class: "btn btn-default btn-block" do %><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  User <% end %>
	</div>
	<div class="col-md-4 big_icon">
		<%= link_to lines_path, class: "btn btn-default btn-block" do %><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  Line <% end %>
	</div>

	<div class="col-md-4 big_icon">
		<%= link_to  boards_path, class: "btn btn-default btn-block" do %><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>  Visual Board <% end %>
	</div>
	<div class="col-md-4 big_icon">
		<%= link_to problems_path , class: "btn btn-default btn-block" do %> <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>  Machine Problem <% end %>
	</div>
	<div class="col-md-4 big_icon">
		<%= link_to data_path, class: "btn btn-default btn-block" do %><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  Data <% end %>
	</div>
