<%= render "reports/socket_color" %>

<% if can? :home, current_user %>
	<div class="col-md-4 big_icon">
		<%= link_to homes_path, class: "btn btn-default btn-block" do %><span class="glyphicon glyphicon-home" aria-hidden="true"></span>  Home <% end %>
	</div>
<% end %>

<% if can? :manage, current_user  %>
	<div class="col-md-4 big_icon">
		<%= link_to users_path, class: "btn btn-default btn-block" do %><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  User <% end %>
	</div>
<% end %>

<% if can? :line, current_user %>
	<div class="col-md-4 big_icon">
		<%= link_to lines_path, class: "btn btn-default btn-block" do %><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  Line <% end %>
	</div>
<% end %>

<% if can? :visual_board, current_user %>
	<div class="col-md-4 big_icon">
		<%= link_to  boards_path, class: "btn btn-default btn-block" do %><span class="glyphicon glyphicon-stats" aria-hidden="true"></span>  Visual Board <% end %>
	</div>
<% end %>

<% if can? :visual_problem, current_user %>
	<div class="col-md-4 big_icon">
		<%= link_to problems_path , class: "btn btn-default btn-block" do %> <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>  Machine Problem <% end %>
	</div>
<% end %>

<% if can? :data, current_user %>
	<div class="col-md-4 big_icon">
		<%= link_to data_path, class: "btn btn-default btn-block" do %><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  Data <% end %>
	</div>
<% end %>

<% if can? :masteremail, current_user %>
	<div class="col-md-4 big_icon">
		<%= link_to masteremails_path, class: "btn btn-default btn-block" do %><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  Email <% end %>
	</div>
<% end %>

<% if can? :running_text, current_user %>
	<div class="col-md-4 big_icon">
		<%= link_to ads_path, class: "btn btn-default btn-block" do %><span class="glyphicon glyphicon-font" aria-hidden="true"></span>  Running Text <% end %>
	</div>
<% end %>

<% if can? :image, current_user %>
	<div class="col-md-4 big_icon">
		<%= link_to images_path, class: "btn btn-default btn-block" do %><span class="glyphicon glyphicon-picture" aria-hidden="true"></span>  Banner <% end %>
	</div>
<% end %>

<% if can? :article, current_user %>
	<div class="col-md-4 big_icon">
		<%= link_to articles_path, class: "btn btn-default btn-block" do %><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>  Article <% end %>
	</div>
<% end %>

<% if can? :country, current_user %>
	<div class="col-md-4 big_icon">
		<%= link_to countries_path, class: "btn btn-default btn-block" do %><span class="glyphicon glyphicon-flag" aria-hidden="true"></span>  Country <% end %>
	</div>
<% end %>


<% if can? :categories, current_user %>
	<div class="col-md-4 big_icon">
		<%= link_to categories_path, class: "btn btn-default btn-block" do %><span class="glyphicon glyphicon-book" aria-hidden="true"></span>  Category <% end %>
	</div>
<% end %>

<% if can? :manage, Defect %>
	<div class="col-md-4 big_icon">
		<%= link_to defects_path, class: "btn btn-default btn-block" do %><span class="glyphicon glyphicon-alert" aria-hidden="true"></span>  Defect <% end %>
	</div>
<% end %>

<% if can? :manage, HeaderBoard %>
	<div class="col-md-4 big_icon">
		<%= link_to header_boards_path, class: "btn btn-default btn-block" do %><span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>  Header Board <% end %>
	</div>
<% end %>

<% if can? :manage, WorkingHour %>
	<div class="col-md-4 big_icon">
		<%= link_to working_hours_path, class: "btn btn-default btn-block" do %><span class="glyphicon glyphicon-scale" aria-hidden="true"></span>  Working Hour <% end %>
	</div>
<% end %>

<% if can? :manage, Language %>
	<div class="col-md-4 big_icon">
		<%= link_to languages_path, class: "btn btn-default btn-block" do %><span class="glyphicon glyphicon-text-background" aria-hidden="true"></span>  Language <% end %>
	</div>
<% end %>

<% if can? :manage, Setting %>
	<div class="col-md-4 big_icon">
		<%= link_to settings_path, class: "btn btn-default btn-block" do %><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  Setting <% end %>
	</div>
<% end %>

<% if can? :manage, Emailsetting %>
	<div class="col-md-4 big_icon">
		<%= link_to emailsettings_path, class: "btn btn-default btn-block" do %><span class="glyphicon glyphicon-cog" aria-hidden="true"></span>  Email Setting <% end %>
	</div>
<% end %>
