
<div class="carousel-inner" style="width:100%;height:100%">

  <% if @boards.where("no >= 1 and no <= 8") != [] and @boards.where("no >= 9 and no <= 17") == [] %>

    <div class="item active">
      <input type="hidden" value="table1" class="hidden" />
      <div id="board1">
        <%= render "table" %>
      </div>
    </div>
  <% elsif @boards.where("no >= 1 and no <= 8") == [] and @boards.where("no >= 9 and no <= 17") != [] %>
  <% @refresh = true %>
    <div class="item active">
      <input type="hidden" value="table2" class="hidden" />
      <div id="board2">
        <%= render "table2" %>
      </div>
    </div>
  <% elsif @boards.where("no >= 1 and no <= 8") == [] and @boards.where("no >= 9 and no <= 17") == [] %>
    <font color=red size=8>Please turn on at least one line</font>
  <% else %>
    <div class="item active">
      <input type="hidden" value="table1" class="hidden" />
      <div id="board1">
        <%= render "table" %>
      </div>
    </div>
    <div class="item ">
      <input type="hidden" value="table2" class="hidden" />
      <div id="board2">
        <%#= render "table2" %>
      </div>
    </div>
  <% end %>

  <% @big_data.each_with_index do |big_dat, index| %>

    <div class="item ">
      <input type="hidden" value="<%= big_dat.first.to_s %>" class="hidden" />
      <div id="detail_graph_<%= big_dat.first %>">
        <%#= render "detail_graph", :big => big_dat %>
      </div>
    </div>
  <% end %>

  <% Image.where("status=?",true).order("id").each_with_index do |image,index| %>

    <div class="item ">
      <input type="hidden" value="<%= image.id.to_s %>" class="hidden" />
      <div id="image_<%= image.id.to_s %>">
        <%= image_tag image.banner.url(:original), :width=>"100%", :height=>"710px" %>
      </div>
    </div>
  <% end %>


</div>

<script>
$(function(){

  //draw_graph()
  $('#myCarousel').on('slid.bs.carousel', function() {

    //$("canvas").attr("width", "900").attr("height", "675")
    //$("canvas").css("width", "900").css("height", "675")
//var a = carouselData.$element.find('.item.active')

    line_no = $(this).data('bs.carousel').$element.find('.active .hidden').val();

    <% if @refresh == true %>
      refresh = "table2"
    <% else %>
      refresh = "table1"
    <% end %>

    if(line_no == refresh)
    {
      location.reload();
    }

    $.get("/boards", {refresh: true, line_no: line_no}, null, "script");

    //delete(line_no)
//alert(line_no)

    //draw_graph()

  })

});
</script>

