
<table class="table table-bordered table-stripped">
	<thead>
		<tr>
			<th rowspan=2>LINE<br>(1-8)</th>
			<th rowspan=2>OPR</th>
			<th rowspan=2>TARGET</th>
			<th rowspan=2>SUM</th>
			<th rowspan=2>ACT</th>
			<th rowspan=2>SUM</th>
			<th rowspan=2>%</th>
			<th rowspan=2>PPH</th>
			<th colspan=2>DEFECT</th>
			<th rowspan=2>RFT</th>
			<th rowspan=2 width="15%">REMARK</th>
		</tr>
		<tr>
			<th>INT</th>
			<th>EXT</th>
		</tr>
	</thead>
	<tbody>
		<% @boards.where("no >= 1 and no <= 8").order("no").each_with_index do |board,line| %>
			<% board.reports.where("tanggal = ?",Date.today).each_with_index do |report,index| %>
				<tr>
					<td><b><font size="9">L. <%= report.line.no %></font></b></td>
					<td><b><font size="9"><%= report.detailreports.last.opr %></font></b></td>
					<td><b><font size="9"><%= report.detailreports.last.target %></font></b></td>
					<td><b><font size="9"><%= report.detailreports.sum("target") %></font></b></td>
					<td><b><font size="9"><%= report.detailreports.last.act %></font></b></td>
					<td><b><font size="9"><%= report.detailreports.sum("act") %></font></b></td>
					<td><b><font size="9"><%= report.detailreports.last.percent.to_i %> %</font></b></td>
					<td><b><font size="9"><%= report.detailreports.last.pph %></font></b></td>
					<td><b><font size="9"><%= report.detailreports.sum("defect_int") %></font></b></td>
					<td><b><font size="9"><%= report.detailreports.sum("defect_ext") %></font></b></td>
					<td><b><font size="9"><%= report.detailreports.last.rft.to_i %> %</font></b></td>
					<td><b><font size="5"><%= report.detailreports.last.remark %></font></b></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>


</table>

