<table class="table table-bordered table-stripped">
	<thead>
		<tr>
			<th rowspan=2>LINE</th>
			<th rowspan=2>OPR</th>
			<th rowspan=2>TARGET</th>
			<th rowspan=2>SUM</th>
			<th rowspan=2>ACT</th>
			<th rowspan=2>SUM</th>
			<th rowspan=2>%</th>
			<th rowspan=2>PPH</th>
			<th colspan=2>DEFECT</th>
			<th rowspan=2>RFT</th>
			<th rowspan=2 width="10%">REMARK</th>
		</tr>
		<tr>
			<th>INT</th>
			<th>EXT</th>
		</tr>
	</thead>
	<tbody>
		<% @boards.last(8).each_with_index do |board,line| %>
			<% board.reports.where("tanggal = ?","2015-08-13".to_date).each_with_index do |report,index| %>
				<tr>
					<td>L. <%= report.line.no %></td>
					<td><%= report.detailreports.last.opr %></td>
					<td><%= report.detailreports.last.target %></td>
					<td><%= report.detailreports.sum("target") %></td>
					<td><%= report.detailreports.last.act %></td>
					<td><%= report.detailreports.sum("act") %></td>
					<td><%= report.detailreports.last.percent %></td>
					<td><%= report.detailreports.last.pph %></td>
					<td><%= report.detailreports.sum("defect_int") %></td>
					<td><%= report.detailreports.sum("defect_ext") %></td>
					<td><%= report.detailreports.last.rft %></td>
					<td><%= report.detailreports.last.remark %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>


</table>