<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Header Board List</h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <%= link_to new_header_board_path, class: "btn btn-primary" do %><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Header Board <% end %>
    </div>
    <table class="table table-stripped table-bordered" id="sortable">
      <thead>
        <th>Name</th>
        <th>Visible</th>
        <th>Action</th>
      </thead>
      <tbody>
        <% @header_boards.order('order_no asc').each_with_index do |header_board, index| %>
          <tr data-item-id=<%= "#{header_board.id}" %> class="item">
            <td><%= header_board.name %></td>
            <td>
              <% if header_board.visible == true %>
                <input type="checkbox" name="show_<%= index.to_s %>" id="<%= header_board.id.to_s %>" data-size="mini" checked >
              <% else %>
                <input type="checkbox" name="show_<%= index.to_s %>" id="<%= header_board.id.to_s %>" data-size="mini" >
              <% end %>
            </td>
            <td>
              <%= link_to "Update", edit_header_board_path(header_board), :method=>"GET",:class=>"btn btn-xs btn-default" %>
              <%= link_to "Delete", header_board_path(header_board), :method=>"DELETE","data-disable-with"=> "Wait..", "data-confirm"=>"delete this header_board ?", :class=>
            "btn btn-xs btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
$("[name^='show']").bootstrapSwitch();

$('input[name^="show"]').on('switchChange.bootstrapSwitch', function(event, state) {
  $.get("/header_boards", {visible: state, id: this.id}, null, "script");
});


</script>