<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Working Hour on <%= @working_day.name %></h3>
  </div>
  <div class="panel-body">
    <div class="form-group">
      <%= link_to new_working_day_working_hour_path(@working_day), class: "btn btn-primary" do %><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Working Hour <% end %>
      <%= link_to working_hours_path, class: "btn btn-default" do %> Back <% end %>
    </div>
    <table class="table table-stripped table-bordered">
      <thead>
        <th>Start</th>
        <th>End</th>
        <th>State</th>
        <th>Action</th>
      </thead>
      <tbody>
        <% @working_day.working_hours.order('id asc').each_with_index do |working_hour, index| %>
          <% if working_hour.working_state == "Break" %>
            <% class_name = "danger" %>
          <% elsif working_hour.working_state == "Overtime" %>
            <% class_name = "warning" %>
          <% end %>
          <tr  class="<%= class_name %>">
            <td><%= working_hour.start %></td>
            <td><%= working_hour.end %></td>
            <td><%= working_hour.working_state %></td>
            <td>
              <%= link_to "Update", edit_working_day_working_hour_path(@working_day, working_hour), :method=>"GET",:class=>"btn btn-xs btn-default" %>
              <%= link_to "Delete", working_day_working_hour_path(@working_day, working_hour), :method=>"DELETE","data-disable-with"=> "Wait..", "data-confirm"=>"delete this data ?", :class=>
            "btn btn-xs btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>