<% if params[:search] and @data != [] %>
	<b>Line No :</b> <%= @data.first.line.no %><br>
	<b>Tanggal :</b> <%= @data.first.tanggal.strftime("%d %B %Y") %><br><br>
	<table class="table table-bordered table-stripped" id="data">
		<thead>
			<tr>
				<th rowspan=2>JAM</th>
				<th rowspan=2>OPR</th>
				<th rowspan=2>TARGET</th>
				<th rowspan=2>TARGET (SUM)</th>
				<th rowspan=2>ACT</th>
				<th rowspan=2>ACT (SUM)</th>
				<th rowspan=2  width="7%">%</th>
				<th rowspan=2>PPH</th>
				<th rowspan=2 >ARTICLE</th>
				<th rowspan=2>EFISIENSI (Akumulasi)</th>
				<th colspan=14>DEFECT</th>
				<th rowspan=2>RFT</th>
				<th rowspan=2  width="25%">REMARK</th>
				<th rowspan=2>P/O</th>
				<th rowspan=2>MFG No</th>
			</tr>
			<tr>
				<th>INT 11A</th>
				<th>INT 11B</th>
				<th>INT 11C</th>
				<th>INT 11J</th>
				<th>INT 11L</th>
				<th>INT 13D</th>
				<th>INT (SUM)</th>
				<th>EXT BS2</th>
				<th>EXT BS3</th>
				<th>EXT BS7</th>
				<th>EXT BS13</th>
				<th>EXT BS15</th>
				<th>EXT BS17</th>
				<th>EXT (SUM)</th>
			</tr>
		</thead>
		<% @article_x_duration = Array.new{} %>
		<% @total_working_time = Array.new{} %>
		<tbody><% sum_target = 0 %><% sum_act = 0 %><% sum_defect_int = 0 %><% sum_defect_ext = 0 %>
				<% @data.first.detailreports.all.order("jam ASC").each_with_index do |detailreport,index| %>
			
					<% sum_target += detailreport.target.to_i  %>
					<% sum_act += detailreport.act.to_i  %>
					<% sum_defect_int += detailreport.defect_int.to_i  + detailreport.defect_int_11b.to_i + detailreport.defect_int_11c.to_i + detailreport.defect_int_11j.to_i + detailreport.defect_int_11l.to_i + detailreport.defect_int_13d.to_i  %>
					<% sum_defect_ext += detailreport.defect_ext.to_i + detailreport.defect_ext_bs3.to_i + detailreport.defect_ext_bs7.to_i + detailreport.defect_ext_bs13.to_i + detailreport.defect_ext_bs15.to_i + detailreport.defect_ext_bs17.to_i %>
					<tr>
						<td><%= detailreport.jam %></td>
						<td><%= detailreport.opr %></td>
						<td><%= detailreport.target %></td>
						<td><%= sum_target %></td>
						<td><%= detailreport.act %></td>
						<td><%= sum_act %></td>
						<td><%= detailreport.percent.to_i %> %</td>
						<td><%= detailreport.pph %></td>
						<td>
							<% if detailreport.detailreportarticles != [] %>
								<%= detailreport.detailreportarticles.map{|i| i.article.to_s + "<font color=red> (act:" + i.output.to_s + ")" + " (opt:" + i.operator.to_s + ")</font>" }.join("<br>").html_safe %>
							<% else %>
								<%= detailreport.article %>
							<% end %>
						</td>
						<td>
							<font color=blue>
								(<%= Report.efficiency_in_the_report(detailreport,@article_x_duration,@total_working_time) %>)					
							</font>
						</td>
						<td><%= detailreport.defect_int %></td>
						<td><%= detailreport.defect_int_11b %></td>
						<td><%= detailreport.defect_int_11c %></td>
						<td><%= detailreport.defect_int_11j %></td>
						<td><%= detailreport.defect_int_11l %></td>
						<td><%= detailreport.defect_int_13d %></td>
						<td><%= sum_defect_int %></td>
						<td><%= detailreport.defect_ext %></td>
						<td><%= detailreport.defect_ext_bs3 %></td>
						<td><%= detailreport.defect_ext_bs7 %></td>
						<td><%= detailreport.defect_ext_bs13 %></td>
						<td><%= detailreport.defect_ext_bs15 %></td>
						<td><%= detailreport.defect_ext_bs17 %></td>
						<td><%= sum_defect_ext %></td>
						<td><%= detailreport.rft.to_i %> %</td>
						<td><%= detailreport.remark %></td>
						<td><%= detailreport.po %></td>
						<td><%= detailreport.mfg %></td>
					</tr>
				<% end %>
					<tr>
						<td colspan=15>Total <%= @data.first.detailreports.count %> Jam</td>
					</tr>

		</tbody>
	</table>

<% else %>
<h5>
	No data recorded
</h5>

<% end %>