<% @target_and_opr = current_user.line.reports.where("tanggal = ?",Date.today).first %>

<%= form_for(@target_and_opr, :remote=>true, :method=>"PUT") do |f| %>
  <%= f.fields_for :detailreports, @target_and_opr.detailreports.last do |detailreport| %>
  <div class="counter_box">
    <div class="counter_header def">INT DEFECT</div>
    <div class="counter_number">
      <%= detailreport.hidden_field :defect_int %>
      <div id="defect_int">
        <%= detailreport.object.defect_int + detailreport.object.defect_int_11b + detailreport.object.defect_int_11c + detailreport.object.defect_int_11j + detailreport.object.defect_int_11l + detailreport.object.defect_int_13d %>
      </div>
      <%= hidden_field_tag :status, "int_defect" %>
    </div>
  </div> <!-- end counter box -->
  <div class="counter_title">
    <div>DEFECT</div>
    <div>INTERNAL</div>
  </div>
  <div class="">
    <div class="row">
      <%= f.button "11A", class: "btn btn-danger btn-md" , :name=>"11A", :value=>true %>
      <%= f.button "11B", class: "btn btn-danger btn-md" , :name=>"11B", :value=>true %>
    </div><br>
    <div class="row">
      <%= f.button "11C", class: "btn btn-danger btn-md", :name=>"11C", :value=>true %>
      <%= f.button "11J", class: "btn btn-danger btn-md", :name=>"11J", :value=>true %>
    </div><br>
    <div class="row">
      <%= f.button "11L", class: "btn btn-danger btn-md", :name=>"11L", :value=>true %>
      <%= f.button "13D", class: "btn btn-danger btn-md", :name=>"13D", :value=>true %>
    </div>

  </div>
  <% end %>
<% end %>

