<% @target_and_opr = current_user.line.reports.where("tanggal = ?",Date.today).first %>

<%= form_for(@target_and_opr, :remote=>true, :method=>"PUT") do |f| %>
  <%= f.fields_for :detailreports, @target_and_opr.detailreports.last do |detailreport| %>
    <div class="counter_box">
      <div class="counter_header act">ACTUAL</div>
      <div class="counter_number">
        <%= detailreport.hidden_field :act %>
        <div id="act">
          <%= detailreport.object.detailreportarticles.sum(:output) %>
        </div>
        <%= hidden_field_tag :status, "actual" %>
      </div>
    </div> <!-- end counter box -->
    <div class="counter_title">
      <div>OUTPUT</div>
      <div>"OK"</div>
    </div>
    <div class="counter_button">
      <%= f.button "", class: "actual", 'data-disable-with'=>"<i class='actual fa fa-4x fa-spinner fa-spin' style='position:fixed' ></i>"  %>
    </div><br>
    <div><b>TOTAL : <%= @target_and_opr.detailreports.sum("act") == nil ? 0 : @target_and_opr.detailreports.sum("act") %></b></div>
    <% end %>
  <% end %>
</div> <!-- end id="actual" -->