<% @target_and_opr = current_user.line.reports.where("tanggal = ?",Date.today).first %>
<% @target_and_opr.detailreports.last %>


<%= form_for(@target_and_opr, :remote=>true) do |f| %>
<%= f.fields_for :detailreports, @target_and_opr.detailreports.last do |detailreport| %>
  <div class="row">
    <div class='col-xs-2'>
      <label style="margin-top:7px">Category</label>
    </div>
    <div class='col-xs-10'>
      <%= detailreport.select :category, options_from_collection_for_select(Category.all, 'name', 'name', :selected=>detailreport.object.category),{:include_blank => '-- Select One --'}, class: 'form-control', :required=>true %>
    </div>
  </div>
  <div class="row">
    <div class='col-xs-2'>
      <label style="margin-top:7px">Article</label>
    </div>
    <div class='col-xs-10'>
      <%= detailreport.text_field :article, :required=>true, class: 'form-control', :style=>"text-transform:uppercase"  %>
      <% if @report.errors.messages != {} %>
        <font color=red><b>Masukan Article Code dengan benar</b></font>
      <% else %>
        <%= Article.find_by(:name=>detailreport.object.article) != nil ? "<b>SMV : ".html_safe + Article.find_by(:name=>detailreport.object.article).duration.to_s + " Minutes</b>".html_safe : "<font color=red><b>Masukan Article Code dengan benar</b></font>".html_safe %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class='col-xs-2'>
      <label style="margin-top:7px">Target</label>
    </div>
    <div class='col-xs-10'>
      <%= detailreport.number_field :target, min: 1,:required=>true, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class='col-xs-2'>
      <label style="margin-top:7px">OPR</label>
    </div>
    <div class='col-xs-10'>
      <%= detailreport.number_field :opr, min: 1,:required=>true, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class='col-xs-2'>
      <label style="margin-top:7px">P/O</label>
    </div>
    <div class='col-xs-10'>
      <%= detailreport.text_field :po, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class='col-xs-2'>
      <label style="margin-top:7px">MFG No</label>
    </div>
    <div class='col-xs-10'>
      <%= detailreport.text_field :mfg, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class='col-xs-2'>
      <label style="margin-top:7px">Country</label>
    </div>
    <div class='col-xs-10'>
      <%= detailreport.select :country, options_from_collection_for_select(Country.all, 'name', 'name', :selected=>detailreport.object.country),{:include_blank => '-- Select One --'}, class: 'form-control', :required=>true %>
    </div>
  </div>

<div class="row">
  <div class="col-xs-12">
     <div class="pull-right"><%= f.button :enter, class: "btn btn-success" %></div>
</div>
  </div>

<% end %>
<% end %>
