<% @target_and_opr = current_user.line.reports.where("tanggal = ?",Date.today).first %>
<% @target_and_opr.detailreports.last %>


<%= form_for(@target_and_opr, :remote=>true) do |f| %>
<%= f.fields_for :detailreports, @target_and_opr.detailreports.last do |detailreport| %>
  <div class="row">
    <div class='col-md-2'>
      <label>Article</label>
    </div>
    <div class='col-md-10'>
      <%= detailreport.text_field :article, :required=>true, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class='col-md-2'>
      <label>Target</label>
    </div>
    <div class='col-md-10'>
      <%= detailreport.number_field :target, min: 1,:required=>true, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class='col-md-2'>
      <label>OPR</label>
    </div>
    <div class='col-md-10'>
      <%= detailreport.number_field :opr, min: 1,:required=>true, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class='col-xs-2'>
      <label>P/O</label>
    </div>
    <div class='col-xs-10'>
      <%= detailreport.text_field :po,:required=>true, class: 'form-control' %>
    </div>
  </div>
  <div class="row">
    <div class='col-xs-2'>
      <label>MFG No</label>
    </div>
    <div class='col-xs-10'>
      <%= detailreport.text_field :mfg,:required=>true, class: 'form-control' %>
    </div>
  </div>

<div class="row">
  <div class="col-md-12">
     <div class="pull-right"><%= f.button :enter, class: "btn btn-success" %></div>
</div>
  </div>

<% end %>
<% end %>