<div class="panel panel-default">
	<div class="panel-heading">
    <h3 class="panel-title">History data</h3>
  </div>
  <div class="panel-body">
		<div class="form-group">
			<%= form_tag data_path, :method=>"GET", :remote=>true do %>
			<div class="form-group">
				<%= label_tag :no_line, "No. Line" , class: "control-label" %>
				<%= text_field_tag :no, nil, :required=>true, class: "form-control" %>
			</div>

			<div class="form-group">
				<%= label_tag :date, "Date", class: "control-label" %>
		        <div class='input-group date' id='datetimepicker1'>
		            <%= text_field_tag :tanggal, nil, :Class=>"form-control", onkeydown: "return false", required: true %>
		            <span class="input-group-addon">
		                <span class="glyphicon glyphicon-calendar"></span>
		            </span>
		        </div>
			</div>


				<%= hidden_field_tag :search, "true", :required=>true %>
				<%= submit_tag "search", class: "btn btn-default" %>
			<% end %>
		</div>

	<div id="data">
		<%= render "data" %>
	</div>

	</div>
</div>

<script>
  $(document).ready(function(){
    $('#datetimepicker1').datetimepicker({
      format: "DD/MM/YYYY", showClear: true, showTodayButton: true
    });
  });
</script>