<fieldset>
  <legend>Stitching</legend>
  <div class='col-xs-7'>
    <div class="form-group">
    <div class="row">
    <div class="col-xs-4">
      <div id="actual">
        <%= form_for(@target_and_opr, :remote=>true) do |f| %>
          <%= f.fields_for :detailreports, @target_and_opr.detailreports.last do |detailreport| %>
          <div class="counter_box">
            <div class="counter_header act">ACTUAL</div>
            <div class="counter_number">
              <%= detailreport.hidden_field :act %>
              <div id="act">
                <%= detailreport.object.act %>
              </div>
              <%= hidden_field_tag :status, "actual" %>
            </div>
          </div> <!-- end counter box -->
          <div class="counter_title">
            <div>OUTPUT</div>
            <div>"OK"</div>
          </div>
          <div class="counter_button">
            <%= f.button "", class: "actual", :id=>"btn_act"  %>
          </div>
          <br>
          <div><b>TOTAL : <%= @target_and_opr.detailreports.sum("act") == nil ? 0 : @target_and_opr.detailreports.sum("act") %></b></div>
          <% end %>
        <% end %>
      </div> <!-- end id="actual" -->
    </div>

    <div class="col-xs-4">
      <div id="int_defect">
        <%= form_for(@target_and_opr, :remote=>true) do |f| %>
          <%= f.fields_for :detailreports, @target_and_opr.detailreports.last do |detailreport| %>
          <div class="counter_box">
            <div class="counter_header def">INT DEFECT</div>
            <div class="counter_number">
              <%= detailreport.hidden_field :defect_int %>
              <div id="defect_int">
                <%= detailreport.object.defect_int + detailreport.object.defect_int_11b + detailreport.object.defect_int_11c + detailreport.object.defect_int_11j + detailreport.object.defect_int_11l + detailreport.object.defect_int_13d %>
              </div>
              <%= hidden_field_tag :status, "int_defect" %>
            </div>
          </div> <!-- end counter box -->
          <div class="counter_title">
            <div>DEFECT</div>
            <div>INTERNAL</div>
          </div>
          <div class="">
            <div class="row">
              <%= f.button "11A", class: "btn btn-danger btn-md" , :name=>"11A", :value=>true %>
              <%= f.button "11B", class: "btn btn-danger btn-md" , :name=>"11B", :value=>true %>
            </div><br>
            <div class="row">
              <%= f.button "11C", class: "btn btn-danger btn-md", :name=>"11C", :value=>true %>
              <%= f.button "11J", class: "btn btn-danger btn-md", :name=>"11J", :value=>true %>
            </div><br>
            <div class="row">
              <%= f.button "11L", class: "btn btn-danger btn-md", :name=>"11L", :value=>true %>
              <%= f.button "13D", class: "btn btn-danger btn-md", :name=>"13D", :value=>true %>
            </div>
          </div>
          <% end %>
        <% end %>
      </div> <!-- end id="int" -->
    </div>

    <div class="col-xs-4">
      <div id="ext_defect">
        <%= form_for(@target_and_opr, :remote=>true) do |f| %>
          <%= f.fields_for :detailreports, @target_and_opr.detailreports.last do |detailreport| %>
          <div class="counter_box">
            <div class="counter_header def">EXT DEFECT</div>
            <div class="counter_number">
              <%= detailreport.hidden_field :defect_ext %>
              <div id="defect_ext">
                <%= detailreport.object.defect_ext + detailreport.object.defect_ext_bs3 + detailreport.object.defect_ext_bs7 + detailreport.object.defect_ext_bs13 + detailreport.object.defect_ext_bs15 + detailreport.object.defect_ext_bs17 %>
              </div>
              <%= hidden_field_tag :status, "ext_defect" %>
            </div>
          </div> <!-- end counter box -->
          <div class="counter_title">
            <div>DEFECT</div>
            <div>EXTERNAL</div>
          </div>
          <div class="">
            <div class="row">
              <%= f.button "BS2", class: "btn btn-danger btn-md" , :name=>"BS2", :value=>true %>
              <%= f.button "BS3", class: "btn btn-danger btn-md" , :name=>"BS3", :value=>true %>
            </div><br>
            <div class="row">
              <%= f.button "BS7", class: "btn btn-danger btn-md", :name=>"BS7", :value=>true %>
              <%= f.button "BS13", class: "btn btn-danger btn-md", :name=>"BS13", :value=>true %>
            </div><br>
            <div class="row">
              <%= f.button "BS15", class: "btn btn-danger btn-md", :name=>"BS15", :value=>true %>
              <%= f.button "BS17", class: "btn btn-danger btn-md", :name=>"BS17", :value=>true %>
            </div>
          </div>
          <% end %>
        <% end %>
      </div> <!-- end id="ext" -->
    </div>
  </div>
  </div>
    <div id="line_and_clock">
      <%= render "clock" %>  
    </div>

  </div>

 <div class='col-xs-5'>
    <div id="machine_problem" class="form-group">
      <div class="machine_title">Machine Problem</div>
        <a class="btn btn-success" id="on" onclick="send('on_<%= current_user.line.no %>')">ON</a>
        <a class="btn btn-danger" id="off" onclick="send('off_<%= current_user.line.no %>')">OFF</a>
    </div>


    <div id="target_and_opr">
      <%= form_for(@target_and_opr, :remote=>true) do |f| %>
      <%= f.fields_for :detailreports, @target_and_opr.detailreports.last do |detailreport| %>
     
        <div class="row">
          <div class='col-xs-2'>
            <label style="margin-top:7px">Category</label>
          </div>
          <div class='col-xs-10'>
            <%= detailreport.select :category, options_from_collection_for_select(Category.all, 'name', 'name',:selected=>detailreport.object.category),{:include_blank => '-- Select One --'}, class: 'form-control' %>
          </div>
        </div>
        <div class="row">
          <div class='col-xs-2'>
            <label style="margin-top:7px">Article</label>
          </div>
          <div class='col-xs-10'>
            <%= detailreport.text_field :article,:required=>true,class: 'form-control', :style=>"text-transform:uppercase" %>
            <font color=red><b>Masukan Article Code dengan benar</b></font>
          </div>
        </div>
        <div class="row">
          <div class='col-xs-2'>
            <label style="margin-top:7px">Target</label>
          </div>
          <div class='col-xs-10'>
            <%= detailreport.number_field :target, min: 1 ,:required=>true,class: 'form-control' %>
          </div>
        </div>
        <div class="row">
          <div class='col-xs-2'>
            <label style="margin-top:7px">OPR</label>
          </div>
          <div class='col-xs-10'>
            <%= detailreport.number_field :opr, min: 1,:required=>true, class: 'form-control' %>
          </div>
        </div>
        <div class="row">
          <div class='col-xs-2'>
            <label style="margin-top:7px">P/O</label>
          </div>
          <div class='col-xs-10'>
            <%= detailreport.text_field :po, class: 'form-control' %>
          </div>
        </div>
        <div class="row">
          <div class='col-xs-2'>
            <label style="margin-top:7px">MFG No</label>
          </div>
          <div class='col-xs-10'>
            <%= detailreport.text_field :mfg, class: 'form-control' %>
          </div>
        </div>
        <div class="row">
          <div class='col-xs-2'>
            <label style="margin-top:7px">Country</label>
          </div>
          <div class='col-xs-10'>
            <%= detailreport.select :country, options_from_collection_for_select(Country.all, 'name', 'name', :selected=>detailreport.object.country),{:include_blank => '-- Select One --'}, class: 'form-control', :required=>true %>
          </div>
        </div>
      <div class="row">
        <div class="col-xs-12">
           <div class="pull-right"><%= f.button :enter, class: "btn btn-success" %></div>
      </div>
        </div>

      <% end %>
      <% end %>
    </div>

    <div id="remark">
      <%= form_for(@target_and_opr, :remote=>true) do |f| %>
      <%= f.fields_for :detailreports, @target_and_opr.detailreports.last do |detailreport| %>
        
          <label>Remark</label>
          <%= detailreport.text_area :remark, class: "form-control", rows: 2 %>
        
        <div class="row">
          <div class="col-xs-12">
             <div class="pull-right"><%= f.button :enter, class: "btn btn-success" %></div>
        </div>
      <% end %>
      <% end %>
    </div>
  </div>
</fieldset>

<div id="reset">

</div>

<script>

      // where our WebSockets logic will go later
      var socket, host;
      host = "ws://<%= Socket.ip_address_list[1].ip_address.to_s %>:3005";

      function connect() {
        try {
          socket = new WebSocket(host);

          //addMessage("Socket State: " + socket.readyState);

          socket.onopen = function() {
            status("Run");
          }

          socket.onclose = function() {
            status("Disconnected");
          }

          socket.onmessage = function(msg) {
            //status( msg.data);
          }
        } catch(exception) {
          status(exception);
        }
      }

      function status(msg){
        var ok = ""
        if (msg == 'Run'){
          ok = "<div class='status_signal connect'></div>"
        }else {
          ok = "<div class='status_signal disconnect'></div>"
        }

      	$("#status").html("<span>status: </span>"+ok);
      }

      function proses(msg) {
	       msg = msg.split("_")[0];
        if(msg == "on"){
        	$("#on").show();
        	$("#off").show();
        }else if(msg == "off"){
        	$("#on").show();
        	$("#off").show();
        }
      }

      function send(status) {

        try {
          socket.send(status);
          proses(status);
          $.get("/reports", {message: status}, null, "script");
        } catch(exception) {
          status("Failed To Send")
        }

      }

      $(function() {
        connect();
      });


      $("#disconnect").click(function() {
        socket.close()
      });

      function tick()
      {
          //get the mins of the current time
          var hours = d.getHours();
          var mins = d.getMinutes();
          var secs = d.getSeconds();
  
          if(mins == "0" && secs == "0" && ( hours == "7" || hours == "8" || hours == "9" || hours == "10" || hours == "11" || hours == "12" || hours == "13" || hours == "14" || hours == "15" || hours == "16" || hours == "17" || hours == "18")){
          //if(secs == "0"){
              $("#report_detailreports_attributes_0_act").val(0);
              if(hours == "12" || hours == "16" || hours == "17" || hours == "18")
              {
                $("#report_detailreports_attributes_0_target").val(0);
              }
              //$("#act").html(0);
              //$("#defect_int").html(0);
              //$("#defect_ext").html(0);

              $.get("/reports/new", {record: hours, user_id: "<%= current_user.id %>", from_tablet: true}, null, "script");
           }

           if(hours == "12")
          {
            $("[type='submit']").attr("disabled",true);
          }else{
            $("[type='submit']").attr("disabled",false);
          }


      }
      setInterval(tick, 1000);

      $( "#connect" ).click(function() {
               location.reload(true);
      });

      var hours = d.getHours();
      $.get("/reports/new", {record: hours, user_id: "<%= current_user.id %>"}, null, "script");
      
    </script>